
body {
  background-color: rgb(150,123,182);
  color: white;
  font-family: didot;
  font-size: 60px;
  margin: 100px;
  text-align: center;
}
p{
  border-style: dotted;
   color: 10px black;
}

h1{
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: pink;
}
li {
  margin: 25px 0 0 0;
}
