body {
  background-color: rgb(96,168,48);
  color: white;
  font-family: didot;
  font-size: 35px;
  margin: 100px;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}
h2{
  font-size: 55px;
}
a {
  color: white;
  text-decoration: none;
li {
  margin: 25px 0 0 0;
}
