body {
  background-color: rgb(255,192,203);
  color: white;
  font-family: serif;
  font-size: 35px;
  margin: 100px;
}

h1{
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: pink;
}
li {
  margin: 25px 0 0 0;
}
