body {
  background-color: rgb(96,168,48);
  color: white;
  font-family: Poppins;
  font-size: 18px;
  margin: 100px;
}
.intro {
  color: black
}
h1{
  text-align: center;
  font-size: 60px;
  color: rgb(254,127,156);
}
h2{
  text-align: center;
}
h2{
  font-size: 40px;
}
a {
  color: white;
  text-decoration: none;
li {
  margin: 25px 0 0 0;
}
.container{
  width: 75%
}
