body {
  background-color: rgb(150,123,182);
  color: white;
  font-family: didot;
  font-size: 45px;
  margin: 80px;
  text-align: center;
}
p{
  border-style: dotted;
   color: 5px black;
}

h1{
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: pink;
}
li {
  margin: 25px 0 0 0;
}
#images {
  margin: 0;
  text-align: center;
}
#images img {
  max-width: 100%;
  margin: 25px 0;
}
