body {
  background-color: rgb(150,123,182);
  color: white;
  font-family: didot;
  font-size: 35px;
  margin: 100px;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
h5{
  text-align: center;
}
h6{
  text-align: center;
}
h7{
  text-align: center;
}
h8{
  text-align: center;
}
h9{
  text-align: center;
}
h10{
  text-align: center;
}
h11{
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}
